auto-save-list/
org-gcal/
eshell/
magithub/
request/
transient/
network-security.data

# The compiled settings will not be commited
*.elc
settings.el
secrets.el

tramp

# High scores
/games

# Cookies should not be in a public repo
url/cookies
url/cache

var

elpa
projectile-bookmarks.eld
projectile.cache

bookmarks

.tags
