auto-save-list/
org-gcal/
eshell/
magithub/

# The compiled settings will not be commited
*.elc
settings.el
secrets.el

tramp

# XKCD temporal files
/xkcd

# High scores
/games

# Cookies should not be in a public repo
url/cookies
url/cache

var

elpa
projectile-bookmarks.eld

bookmarks

.tags