auto-save-list/

# The compiled settings will not be commited
*.elc
settings.el

tramp

# XKCD temporal files
/xkcd

# Cookies should not be in a public repo
url/cookies
url/cache

var

elpa
projectile-bookmarks.eld